<div class="row mb-3">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				Upload
			</div>
			<div class="card-body">
				<%= form_tag upload_create_path, multipart: true do %>
					<div id="upload-fields" class="form-itens">
						<div class="upload-item">
					  	1. <%= file_field_tag :upload_1, required: true %>
					  </div>
					</div>
				  <div class="mt-3">
				  	<%= submit_tag "Upload", id: 'upload', class: 'btn btn-success btn-sm' %>
				  	<a id="add-upload-field" class="btn btn-secondary btn-sm" onclick="AddUploadField()">Add + file</a>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "upload", "data-turbo-track": "reload", defer: true %>