<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h1>Welcome</h1>
				<p>Hello, this is a Web Test project developed for Nuuvem.</p>
				<p>The project is a revenue manager and all data is entered manually via TAB-separated file upload.</p>
				<p>With each upload a new report is created and the lines from your file are added as Report Items.</p>
				<p>On the Dashboard page you will be able to follow the statistics, the gross income graph and a list with all the reports that have been inserted.</p>
			</div>
		</div>
	</div>
</div>
