.navbar {
	.navbar-shortname {
		background: white;
	    color: black;
	    padding: 2px 5px;
	    border-radius: 50%;
	    height: 30px;
	    width: 30px;
	    text-align: center;
	}

	.logout-icon {
		color: white;
		margin-left: 20px;
	}
}